chapter_12/ch12_foo.py
chapter_12/ch12_foo2.py
chapter_13/ex01_input_file.txt
chapter_13/ex01_output_file.txt
chapter_13/ex02_input_file.txt
chapter_13/ex03_output_file.txt
chapter_13/ex04_output_file.txt
chapter_26/lorem_1000_para.txt
chapter_26/lorem_100_para.txt
chapter_26/lorem_20_para.txt
chapter_26/lorem_50_para.txt
chapter_26/lorem_5_para.txt
notes.txt
outline.txt
